*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*------------------------------Header*/

.nav{
    background: rgb(186, 207, 203);
}

.logo img{
    width: 80%;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 30px;
}

.nav-ul{
    padding-top: 20px;
}

.nav-li{
    padding-top: 20px;
    text-align: center;
    list-style: none;
}

.nav-li a{
   color: rgb(66, 66, 66); 
   text-decoration: none;
}