*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body{
    background-image: url(../img/Green\ Photo-centric\ Government\ Progress\ Report\ Sustainable\ Development\ Goals\ Presentation.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

/*------------------------------Header*/


.logo img{
    width: 60%;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 75px;
}

.nav-ul{
    text-align: center;
    padding-top: 20px;
}

.nav-li{
    padding-top: 20px;
    list-style: none;
    font-size: 20px;
    display: inline;
    padding: 10px;
}

.nav-li a{
   color: #1a9eab;
   text-decoration: none;
}

.nav-li a:hover{
    color: #f58220;
}

/*-----------------------------hero*/

.hero-intro{
    padding-top: 20px;
    padding-bottom: 20px;
    background: url(../img/hero\ image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: aliceblue;
    backdrop-filter: brightness(50%);
}

.hero-intro h1 {
    text-align: center;
}

.hero-intro p{
    text-align: center;
}

.hero .cta{
    border: none;
    border-radius: 50px;
    margin-left: 150px;
    padding: 10px;
    background: #f58220;
}

.hero .cta a{
    text-decoration: none;
    color: aliceblue;
}

/*----------------------------carousel*/

.past-works{
    text-align: center;
    padding-top: 10px;
    text-decoration: underline 2px solid ;
    
    padding-bottom: 10px;
}

.carousel-caption{
    color:white;
    font-size: 50px; 
    background: rgba(0,0,0,0.5);  
}

.carousel-caption h5{
    font-size: 60px;
}

.carousel{
    
    padding-top: 20px;
    padding-bottom: 20px;
    
    border: none;
}


.past-btn{
    border: none;
    border-radius: 50px;
    padding: 10px;
    background: #f58220;
    margin-top: 20px;
    margin-left: 120px;
    margin-left: 115px;
}

.past-btn a{
     text-decoration: none;
     color: aliceblue;
}

/*----------------------------qualifications*/

.qualifications{
     
     padding-top: 20px;
     padding-bottom: 20px;
}

.qualifications img{
    height: 100px;
    width: 160px;
    margin-left: 300px;
    padding-bottom: 20px;
}

.qualifications p{
    text-align: center;

}

/*----------------------------find-us*/

.find-us #map{ 
     width: 100%;
     
     padding-top: 20px;
     padding-bottom: 20px;
     text-align: center;
}

.find-us iframe{
    width: 80%;
}

/*----------------------------footer*/

.footer{
    padding-bottom: 10px;
}

.footer .contact{
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.social{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.social i{
    font-size: 30px;
    padding: 10px;
    padding-right: 20px;
}

.social a{
    color: aliceblue;
    
}


/*----------------------------media queries*/

@media only screen and (min-width: 425px) {
    .hero .cta{
        margin-left: 160px;
    }
    .past-btn{
        margin-left: 120px;
    }
}


@media only screen and (min-width: 768px) {
     
    .nav-ul{
        line-height: 2;
        padding-left: 0;
    }
    .logo img{
        margin-left: 20px;
    }
    
    .hero .cta{
        margin-left: 330px;
    }
    .carousel-inner{
        height: 30vh;
        width: 60%;
        margin-left: 150px;
    }
    .carousel-inner img{
        height: 30vh;
        width: 50%;
        
    }
    .carousel-caption{
        height: 150px;
        
    }
    .carousel-caption h5{
        font-size: medium;
    }  
    .carousel-caption p{
        font-size: small;
    }
    .past-btn{
        width: 250px;
        margin-left: 250px;
    }
  
    .qualifications img{
        margin-left: 400px;
    }
}

@media only screen and (min-width: 1024px){
    .nav-ul{
        line-height:3;
    }
    .hero .cta{
        margin-left: 455px;
        height: 50px;
        width: 150px;
        margin-left: 435px;
    }
    
    .hero-intro{
    height: 40vh;    
    }
    .hero-intro h1{
        font-size: 50px;
        padding-bottom: 30px;
    }
    .hero-intro p{
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
    }
     .carousel-inner{
        margin-left: 200px;
    }
    .carousel-inner img{
        height: 30vh;
        width: 50%;
        
    }
   
    .carousel-caption h5{
        font-size: large;
    }  
    .carousel-caption p{
        font-size: medium;
    }
    .past-title {
        padding-top: 30px;  
        font-size: 40px;      
    }
    .past-p{
        font-size: 25px;
    }
    .past-btn{
        margin-left: 380px;
        
    }
    }
    .qualifications img{
        margin-left: 430px;
    }

    @media only screen and (min-width: 1440px){
        .nav-ul{
            padding-top: 40px;
            
        }
        .nav-li a{
            font-size: 30px;
        }


    }

}